.WholeBody {
  position: absolute;
  margin-left: 16%;
  margin-right: auto;
}

.image--body {
  width: auto;
  height: 1000px;
  /* display: flex; */
  /* margin-left: auto;
  margin-right: auto; */
  position: relative;
  /* //absolute works on position */
  /* justify-content: center; */
  /* position: fixed; */
  z-index: -1;
  /* background-size: cover; */
  border-radius: 20px;
}

/* .image--body {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
} */

/* .WholeBody {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto
} */

.image--mainLogo {
  width: 550px;
  height: auto;
  padding: 30px 0px 30px 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.clickOnMe {
  width: auto;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: #505050;
}

/* .testingimage {
  position: absolute;
} */

/* //this styles all the images inside the modal */
.imageofbodypart {
  width: 400px;
  height: auto;
  /* padding-left: 17px; */
  border-radius: 20px;
}

.abdomen {
  position: absolute;
  top: 300px;
  left: 389px;
  padding: 150px 120px 150px 40px;
  /* border: 10px solid red; */
  display: inline-block;
  /* z-index: 1; */
}

.backOfLeftArm {
  position: absolute;
  top: 200px;
  left: 629px;
  padding: 100px 150px 124px 80px;
  /* border: 10px solid green; */
}

.backOfRightArm {
  position: absolute;
  top: 200px;
  left: 80px;
  padding: 100px 150px 124px 80px;
  /* border: 10px solid lightgreen */
}

.backOfRightHip {
  position: absolute;
  top: 450px;
  left: 75px;
  padding: 100px 150px 124px 80px;
  /* border: 10px solid hotpink; */
}

.backOfLeftHip {
  position: absolute;
  top: 450px;
  left: 650px;
  padding: 100px 150px 125px 80px;
  /* border: 10px solid lightpink */
}
/* padding: <padding-top> || <padding-right> || <padding-bottom> || <padding-left> */

.rightThigh {
  position: absolute;
  top: 696px;
  left: 135px;
  padding: 100px 150px 125px 80px;
  /* border: 10px solid lightskyblue; */
}

.leftThigh {
  position: absolute;
  top: 696px;
  left: 580px;
  padding: 100px 150px 124px 80px;
  /* border: 10px solid blue; */
}

.modal-dialog {
  min-width: 800px;
}

.modal-body {
  display: flex;
  justify-content: space-around;
}

.logMyShot {
  background-color: #3e758a;
  width: 150px;
  height: 40px;
  border-radius: 6px;
  /* font-size: 22px; */
  color: white;
}

.cancelMyShot {
  background-color: #dd6359;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  /* font-size: 22px; */
  color: white;
}

.addOneShot {
  width: 250px;
  margin-left: 10px;
}
/* or add margin to image */
