.loginForm {
  padding: 0 25px;
}

.icon--shot2 {
  width: 250px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.loginForm {
  width: 380px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sign-in-button {
  float: right;
  background-color: #3e758a;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  /* font-size: 16px; */
  color: white;
}

.emailtext {
  margin-top: 17px;
}

.modalBodyRegister {
  display: flex;
  justify-content: space-around;
}

.icon--shotRegister {
  width: 250px;
  height: auto;
  display: block;
  margin-left: 40px;
  margin-right: 0px;
}

.add {
  width: 300px;
  margin-right: 40px;
}

.registerButton {
  background-color: #3e758a;
  width: 150px;
  height: 40px;
  border-radius: 6px;
  /* font-size: 22px; */
  color: white;
}

.cancelRegisterButton {
  background-color: #dd6359;
  width: 100px;
  height: 40px;
  border-radius: 6px;
  /* font-size: 22px; */
  color: white;
}

.btn-link {
  margin-top: 10px;
  display: inline-block;
  margin-left: -14px;
}

.linkButton {
  height: auto;
  display: block;
  margin-left: 0px;
  margin-right: 0px;
}
