/*
.main-container {
    position: relative;
    min-height: 100vh;
  }

  .content-wrap {
    padding-bottom: 2.5rem;
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    height: auto;
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: -5px;
  text-align: center;
  background-color:  #a5d3cd;
  padding-top: 15px;
  padding-bottom: 1px;
  padding-right: 100px;
  padding-left: 100px;
  color: #505050;
  font-size: 10px;
} */