/* <nav style={{backgroundColor: '#A5D3CD'}} className="navbar  flex-md-nowrap p-0 shadow">
        <ul className="nav nav-pills nav-fill">
            <li className="nav-item">
                <Link className="nav-link" to="/login">Login</Link>
            </li> */

            .navbar {
              background-color: #a5d3cd;
              /* margin-bottom: 100px */
            }

            .nav-link {
              /* color: #DD6359 */
              color: #3e758a;
              font-weight: bold;
              float: right;
            }

            .body {
              background-color: #f5f0e2;
            }

            .icon--shot {
              width: 90px;
              height: auto;
            }

            /* .nav {
            top: 50px;
            right: 0px;
            margin-left: 40em;
            position:
            } */